@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Asap:wght@500;700&family=Montserrat:wght@100;400;900&family=Permanent+Marker&family=Ubuntu&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #8294c4;
}

::selection {
  color: #fff;
  background-color: #8294c4;
}

.container {
  padding: 2rem 7rem;
  border-radius: 14px;
  background: #acb1d6;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}

.result_images {
  display: flex;
  column-gap: 7rem;
}

.container.start .user_result {
  transform-origin: left;
  animation: userShake 0.7s ease infinite;
}

@keyframes userShake {
  50% {
    transform: rotate(10deg);
  }
}

.container.start .cpu_result {
  transform-origin: right;
  animation: userShake 0.7s ease infinite;
}

@keyframes cpuShake {
  50% {
    transform: rotate(-10deg);
  }
}

.result_images img {
  width: 100px;
}

.user_result img {
  transform: scaleX(-1) rotate(-90deg);
}

.cpu_result img {
  transform: rotate(-90deg);
}

.result {
  text-align: center;
  font-size: 2rem;
  color: #5c469c;
  margin-top: 1.5rem;
}

.option_image img {
  width: 50px;
}

.option_images {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2.5rem;
}

.container.start .option_images {
  pointer-events: none;
}

.option_image {
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.option_image:hover {
  opacity: 1;
}

.option_image.active {
  opacity: 1;
}

.option_image img {
  pointer-events: none;
}

.option_image p {
  color: #7d2ae8;
  font-size: 1.235rem;
  margin-top: 1rem;
  pointer-events: none;
}
